
body{
    background-color: lightgray;
}

.navbar{
    background-color: white;
}

.navbar-header {
    float: left;
    margin: 0;
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    width: 100%;
}
.navbar-brand {
    float:none;
}
  
